<chanters-player>
    <template>
        <style>
        @import "../style/chanters.css";
        @import "../style/player.css";
        :host {
            height: 100%;
            width: 100%;
        }
        </style>
        <div>
            <ul id="songList" class="border box-shadow-inset chanters-player">
            </ul>
        </div>
    </template>
    <script src="../scripts/lib/mediaTags.js"></script>
    <script src="../scripts/helpers/chanters-player.js"></script>
</chanters-player>
