<chanters-element>
    <template>
        <style>
        @import "style/chanters.css";
        :host {
            position: relative;
        }
        
        #view {
            position: relative;
            height: 100%;
            width: 100%;
            top: 40px;
            transition: all .5s linear .2s;
            overflow: hidden;
        }
        </style>
        <div class="z-index-center" id="view">
            <wrapper class="{{visibility}}">
                <content select="*"></content>
            </wrapper>
        </div>
    </template>
    <script src="../scripts/helpers/chanters-content.js"></script>
</chanters-element>
