<chanters-element>
    <template>
        <style>
        @import "style/chanters.css";
        #menu {
            color: white;
            list-style: none;
            top: 40px;
            right: -20px;
            width: 200px;
            border-radius: 5px;
        }
        
        #menu li {
            display: block;
            padding: 10px;
            cursor: pointer;
        }
        
        #menu li:hover {
            background: red;
        }
        </style>
        <ul id="menu" class="border dark-div absolute z-index-top box-shadow {{visibility}}">
            <li on-click="{{itemClick(changeBackground)}}">Change BackGround</li>
            <input autocomplete="" accept=".jpg, .jpeg, .png, .JPG, .JPEG, .PNG" type="file" id="background" multiple style="display:none">
            <li on-click="{{itemClick(resizeBackground)}}">Resize BackGround</li>
            <li on-click="{{itemClick(changeMode)}}">Mode</li>
        </ul>
    </template>
    <script src="../scripts/helpers/chanters-menu.js"></script>
</chanters-element>
