<chanters-element>
    <template>
        <style>
        @import "../style/chanters.css";
        @import "../style/player.css";
        /* Let's get this party started */

        #songList::-webkit-scrollbar,
        #favSongs::-webkit-scrollbar {
            width: 12px;
        }
        /* Track */

        #songList::-webkit-scrollbar-track,
        #favSongs::-webkit-scrollbar-track {
            /*box-shadow: inset 0 2px 8px rgba(0, 0, 0, .7);*/
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
        /* Handle */

        #songList::-webkit-scrollbar-thumb,
        #favSongs::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, 0.6);
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        }

        #songList::-webkit-scrollbar-thumb:window-inactive,
        #favSongs::-webkit-scrollbar-thumb:window-inactive {
            background-color: rgba(0, 0, 0, 0.4);
        }
        </style>
        <div>
            <!-- <chanters-progress id="progressbar" data-message="Loading..." data-progress="0" data-current="0"></chanters-progress> -->
            <chanters-notification data-isbtnclosevisible="block" id="notification" data-isimagevisible="block" data-right="20" data-bottom="100" data-visibility="visible" data-message="Loading..."></chanters-notification>
            <div>
                <ul id="songList" class="border box-shadow-inset chanters-player">
                </ul>
                <ul id="favSongs" class="border box-shadow-inset z-index-pinnacle"></ul>
            </div>
            <!-- visible when song is playing and new tab is open -->
            <div id="wall" class="dark-div border">
                <div class="poster border">
                    <img src="{{src}}">
                </div>
                <h2>Now Playing : {{title}}</h2>
                <h4>Duration : {{duration}}</h4>
            </div>
            <!-- visible when song is playing and new tab is open -->
            <chanters-audio id="audioPlayer" data-visibility="hide" data-poster="/images/bg-default.jpg" data-currenttime="00 : 00" data-totaltime="00 : 00"></chanters-audio>
            <chanters-video id="videoPlayer" data-visibility="hide">
            </chanters-video>
        </div>
    </template>
    <script src="../scripts/lib/mediaTags.js"></script>
    <script src="../scripts/lib/fs.js"></script>
    <script src="../scripts/lib/player.js"></script>
    <script src="../scripts/helpers/chanters-player.js"></script>
</chanters-element>