<chanters-element>
    <template>
        <style>
        @import "../style/chanters-directory.css";
        </style>
        <section id="desktop-wrapper" class="box-shadow dark-div">
            <section id="nav-panel">
                <ul>
                    <li on-click="{{getRootFolder(root)}}"><a href=""><i class="fa fa-home" aria-hidden="true"></i>Root</a></li>
                    <i class="fa fa-plus" on-click="{{createFolder(currentFolder)}}" aria-hidden="true">+</i>
                </ul>
            </section>
            <section id="content-panel">
                <h3 class="{{noFiles}}">No 
                    <a href = "" on-click="{{addFiles(currentFolder)}}">files</a> 
                    <input autocomplete="" type="file" id="fileupload" multiple class="hidden" style="display:none">
                    and <a href = "" on-click="{{createFolder(currentFolder)}}">folders</a>
                 added yet</h3>
                <ul id="fileStructure" class="{{hasFiles}}"></ul>
            </section>
            <section>
                <audio id="audio" class="hide" controls=""></audio>
                <video id="video" class="{{visibilityVideo}}" controls="false">
                </video>
                <img src="" id="img" class="{{visibilityImage}}">
            </section>
        </section>
    </template>
    <script defer="" src="../scripts/helpers/directory-structure.js"></script>
</chanters-element>