<!-- <!DOCTYPE html>
<html>

<head>
    <title></title>
    <script src="../scripts/helpers/popup.js"></script>
</head>

<body>
    <button id="openPlayer">Go To Player</button>
    <h3 style="font-weight:bold; text-align:center;">DOM Info</h3>
    <table border="1" cellpadding="3" style="border-collapse:collapse;">
        <tr>
            <td nowrap>Total number of elements:</td>
            <td align="right"><span id="total">N/A</span></td>
        </tr>
        <tr>
            <td nowrap>Number of input elements:</td>
            <td align="right"><span id="inputs">N/A</span></td>
        </tr>
        <tr>
            <td nowrap>Number of button elements:</td>
            <td align="right"><span id="buttons">N/A</span></td>
        </tr>
    </table>
</body>

</html> -->



<html>
<head>
    <title>API Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <script defer="" src="../scripts/lib/jquery.js"></script>
    <script defer="" src="../scripts/helpers/popup.js"></script>
   <!--  <script type="text/javascript">
        var accessToken = "8c328bd976f14e57ae73c8bb9f10c88b";
        var baseUrl = "https://api.api.ai/v1/";
        $(document).ready(function() {
            $("#input").keypress(function(event) {
                if (event.which == 13) {
                    event.preventDefault();
                    send();
                }
            });
            $("#rec").click(function(event) {
                switchRecognition();
            });
        });
        var recognition;
        function startRecognition() {
            recognition = new webkitSpeechRecognition();
            recognition.onstart = function(event) {
                updateRec();
            };
            recognition.onresult = function(event) {
                var text = "";
                for (var i = event.resultIndex; i < event.results.length; ++i) {
                    text += event.results[i][0].transcript;
                }
                setInput(text);
                stopRecognition();
            };
            recognition.onend = function() {
                stopRecognition();
            };
            recognition.lang = "en-US";
            recognition.start();
        }
    
        function stopRecognition() {
            if (recognition) {
                recognition.stop();
                recognition = null;
            }
            updateRec();
        }
        function switchRecognition() {
            if (recognition) {
                stopRecognition();
            } else {
                startRecognition();
            }
        }
        function setInput(text) {
            $("#input").val(text);
            send();
        }
        function updateRec() {
            $("#rec").text(recognition ? "Stop" : "Speak");
        }
        function send() {
            var text = $("#input").val();
            $.ajax({
                type: "POST",
                url: baseUrl + "query?v=20150910",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: {
                    "Authorization": "Bearer " + accessToken
                },
                data: JSON.stringify({ query: text, lang: "en", sessionId: "somerandomthing" }),
                success: function(data) {
                    setResponse(data.result.fulfillment.speech);
                },
                error: function() {
                    setResponse("Internal Server Error");
                }
            });
            setResponse("Loading...");
        }
        function setResponse(val) {
            $("#response").text(val);
        }
    </script> -->
    <style type="text/css">
        body { width: 500px; margin: 0 auto; text-align: center; margin-top: 20px; height: auto }
       /* div {  position: absolute; }*/
        input { width: 400px; }
        button { width: 50px; }
        textarea { width: 100%; }
    </style>
</head>
<body>
    <div>
        <input id="input" type="text"> <button id="rec">Speak</button>
        <br>Response<br> <textarea id="response" cols="40" rows="20"></textarea>
    </div>
</body>
</html>