<chanters-element>
    <template>
        <style>
        .dark-div {
            background: black;
        }
        </style>
        <div id="header" class="header btm-border dark-div fixed-top">
            <div>{{mode}}</div>
            <template repeat="order in orders">
                <div>
                    <input type="text" value="{{mode}}" />
                    <input type="text" on-focus="{{changeMode}}" value="{{roles.0.role}}" />
                </div>
                <div> {{order.name}}</div>
                <input type="text" value="{{order.name}}" />
            </template>
        </div>
    </template>
    <script src="../scripts/helpers/chanters-header.js"></script>
</chanters-element>
