<chanters-element>
    <template>
        <style>
        .dark-div {
            background: black;
        }
        </style>
        <div id="header" class="header btm-border dark-div fixed-top">
            <input type="text" value="{{name}}" style="color :{{color}}" />
            <input type="text" value="{{color}}" />
            <button on-click="{{hello}}">{{name}}</button>
        </div>
    </template>
    <script src="../scripts/helpers/chanters-header.js"></script>
</chanters-element>
