<chanters-element>
    <template>
        <style>
        .dark-div {
            background: black;
        }
        </style>
        <div id="header" on-click="{{changeMode}}" class="header btm-border dark-div fixed-top">
            <template repeat="order in orders">
                <h3 style="color:{{color}}; font-size:{{order.name}}" id="{{order.name}}">
                    Customer Name : {{order.name}} 
                </h3>
                <h3>
                    Customer Age : {{order.age}}
                </h3>
                <h3>
                    Customer Temp : {{order.temp}}
                </h3>
               <!--  <template repeat="temp in order.temp">
                    <h3>
                    Customer Temp iteration: key/_id == {{temp.key}}
                </h3>
                </template> -->
            </template>
        </div>
    </template>
    <script src="../scripts/helpers/chanters-header.js"></script>
</chanters-element>
